<p-gmap #gmap [style]="{'width':'80%','height':'602px'}" [options]="options" [overlays]="overlays"
        (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>

<p-dialog [style]="{'width':'30%','height':'320px'}" showEffect="fade" [(visible)]="dialogVisible" header="New Location">
  <div class="ui-g ui-fluid" *ngIf="selectedPosition">
    <div class="ui-g-2"><label for="Goods">Goods</label></div>
    <div class="ui-g-10"><input type="text" pInputText id="Goods" [(ngModel)]="goods"></div>

    <div class="ui-g-2"><label for="Price">Price</label></div>
    <div class="ui-g-10"><input type="number" pInputText id="Price" [(ngModel)]="price"></div>


    <div class="ui-g-2"><label for="lat">Lat</label></div>
    <div class="ui-g-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>

    <div class="ui-g-2"><label for="lng">Lng</label></div>
    <div class="ui-g-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton label="Add Marker" icon="fa-plus" (click)="addMarker()"></button>
    </div>
  </p-footer>
</p-dialog>

<div class = "layout" *ngFor = "let order of overlays">

</div>
