<div style="text-align:center">
  <h1>
    Welcome to {{title}}.
  </h1>
</div>
<button (click)="state = viewState.MAIN_QUESTION">Main</button>
<button (click)="state = viewState.ORDER">Order</button>
<button (click)="state = viewState.CHAT">Chat</button>
<br>
<div [ngSwitch]="state">
  <div *ngSwitchCase="viewState.MAIN_QUESTION">
    <div style="text-align:center">
      <!--input #message>
      <button (click)="sendMessage(message.value)">Send Message</button>
      <app-question></app-question>
      <toaster-container></toaster-container!-->
      <img src = "../assets/kyiv.png">
    </div>
  </div>
  <div *ngSwitchCase="viewState.ORDER">
    <app-order></app-order>
  </div>
  <div *ngSwitchCase="viewState.CHAT">
    <app-chat></app-chat>
  </div>
</div>
