.kyivMap{
  margin:10px;
  height:100%;
  width:80%;
}

.b-popup{
  width:100%;
  min-height:100%;
  overflow:hidden;
  position:fixed;
}
.b-popup .b-popup-content{
  top:100px;
  left:35%;
  width:300px;
  height: 230px;
  padding:10px;
  background-color: #ffffff;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
  position:fixed;
}
.inputField{
  width:100%;
  height:10%;
  margin-bottom:10px;
}

p{
  margin-top:0px;
  margin-bottom:10px;
}

.formButton{
  width:50%;
  background-color: #ffffff;
  pudding-bottom: 20px;
  radius-border: 10px;
}


.orderButton {
  top: 50px;
  left: 50px;
}
