.spaceship {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 420px;
  left:30%;
  -webkit-animation-name: spaceship-motiontwo;
  animation-name: spaceship-motiontwo;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spaceship-motiontwo {
  0% {
    top: 420px;
    left:30%;
  }

  100% {
    top: 200px;
    left: 65%;
  }
}

@keyframes spaceship-motiontwo {
  0% {
    top: 420px;
    left:30%;
  }

  100% {
    top: 600px;
    left: 65%;
  }
}

#spaceship-light1 {
  -webkit-animation-name: toggle-lights-red;
  animation-name: toggle-lights-red;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


#spaceship-light2 {
  -webkit-animation-name: toggle-lights-blue;
  animation-name: toggle-lights-blue;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


#spaceship-light3 {
  -webkit-animation-name: toggle-lights-green;
  animation-name: toggle-lights-green;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes toggle-lights-red {
  0% {
    fill: #FF4136;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #FF4136;
  }
}

@keyframes toggle-lights-red {
  0% {
    fill: #FF4136;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #FF4136;
  }
}


@-webkit-keyframes toggle-lights-blue {
  0% {
    fill: #FF4136;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #FF4136;
  }
}


@keyframes toggle-lights-blue {
  0% {
    fill: #FF4136;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #FF4136;
  }
}

@-webkit-keyframes toggle-lights-green {
  0% {
    fill: #FF4136;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #FF4136;
  }
}

@keyframes toggle-lights-green {
  0% {
    fill: #FF4136;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #FF4136;
  }
}



