<div class="spaceship">


  <svg width="250%" height="200%" xmlns="http://www.w3.org/2000/svg">

    <defs>
      <radialGradient id="svg_5" spreadMethod="pad" cx="0.5" cy="0.5" r="0.5">
        <stop stop-color="#f3ff66" offset="0.30078"/>
        <stop stop-color="#87d87c" offset="1"/>
      </radialGradient>
      <radialGradient r="0.5" cy="0.5" cx="0.5" spreadMethod="pad" id="svg_7">
        <stop offset="0" stop-color="#44FFFF"/>
        <stop offset="1" stop-color="#36d5f9"/>
      </radialGradient>
      <radialGradient id="svg_8" r="0.5" cy="0.5" cx="0.5" spreadMethod="pad">
        <stop stop-color="#44FFFF" offset="0"/>
        <stop stop-color="#36d5f9" offset="1"/>
      </radialGradient>
    </defs>
    <g>
      <title>background</title>
      <rect x="-1" y="-1" width="10" height="10" id="canvas_background" fill="none"/>
    </g>
    <g>
      <ellipse fill="black" stroke="white" stroke-width="1px" stroke-opacity="null" cx="140" cy="82.5" id="svg_3" rx="19.5" ry="7"/>
      <ellipse fill="black" stroke-width="1px" stroke-opacity="null" cx="140" cy="93.5" id="svg_4" rx="44.5" ry="8" stroke="white"/>
      <ellipse fill="#6565d3" stroke="white" stroke-width="1px" stroke-opacity="null" cx="109.5" cy="94" id="spaceship-light1" rx="4" ry="2.5"/>
      <ellipse fill="#63ed6c" stroke="white" stroke-width="1px" stroke-opacity="null" cx="140.5" cy="93" id="spaceship-light2" rx="4" ry="2.5"/>
      <ellipse fill="#c1579e" stroke-width="1px" stroke-opacity="null" cx="168.5" cy="93" id="spaceship-light3" rx="4" ry="2.5" stroke="white"/>
      
    </g>
  </svg>

</div>
